services:
  postgres:
    image: postgres:16
    container_name: pg-learning
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
volumes:
  pg_data:
